body {
  margin: 0;
  line-height: normal;
}
.home-crop-information-governme1 {
  position: absolute;
  top: 190px;
  left: 2px;
  font-size: 25px;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(33, 104, 0);
  text-align: center;
  width: 1347px;
  height: 69px;
  mix-blend-mode: darken;
  display: flex;
  background-color: rgb(207 248 226);
  padding-left: 95px;
}
.image-4-div1,
.rectangle-icon3 {
  position: absolute;
  top: 575px;
  left: 130px;
  border-radius: 52px;
  width: 590px;
  height: 386px;
}
.rectangle-icon3 {
  top: 328px;
  left: 479px;
  border-radius: 28px;
  width: 509px;
  height: 116px;
  mix-blend-mode: multiply;
}
.h2-section-title-1-b1 {
  position: absolute;
  top: 344px;
  left: 500px;
  font-size: 45px;
  letter-spacing: 0.2px;
  line-height: 80px;
  text-transform: uppercase;
  display: inline-block;
  color: #252b42;
  text-align: left;
  width: 508px;
  height: 138px;
}
.rectangle-icon4 {
  position: absolute;
  top: 181px;
  left: 31px;
  width: 1440px;
  height: 130px;
  mix-blend-mode: darken;
}
.container-div3,
.filter-div1 {
  position: absolute;
  overflow: hidden;
}
.filter-div1 {
  height: calc(100% - 721px);
  width: 100%;
  top: -73px;
  right: 22px;
  bottom: 794px;
  left: -22px;
  background: linear-gradient(
    89.83deg,
    #fff,
    #fff 0.01%,
    rgba(255, 255, 255, 0)
  );
  font-size: 25px;
}
.container-div3 {
  top: 1748px;
  left: calc(50% - 493px);
  width: 1050px;
}
.navbar-brand-div1 {
  position: absolute;
  top: calc(50% - 29.5px);
  left: calc(50% - 551px);
  width: 213px;
  height: 59px;
  overflow: hidden;
}
.navbar-toggler-icon-div1 {
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  width: 24px;
  height: 13.71px;
}
.navbar-toggler-div1 {
  position: absolute;
  top: 39px;
  left: 1298px;
  width: 24px;
  height: 13.71px;
  overflow: hidden;
}
.btn-text2 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 22.5px);
  letter-spacing: 0.2px;
  line-height: 22px;
  display: inline-block;
}
.a-div1,
.nav-item-div2 {
  width: 41px;
  height: 22px;
  overflow: hidden;
}
.a-div1 {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-item-div2 {
  position: relative;
  flex-shrink: 0;
}
.btn-text3 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 22px;
  display: inline-block;
}
.icn-arrow-right-icn-xs1 {
  position: relative;
  width: 12px;
  height: 10px;
  flex-shrink: 0;
  overflow: hidden;
}

.menubar{
  display: flex;
  text-decoration: none;
  color: green;

  }

  .menubarr{
  
    text-decoration: none;
    color: green;
    }
.buttonbtnprimary-color-div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #2f9000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 15px 25px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  HEIGHT: 53PX;

}
.nav-item-div3 {
  position: relative;
  width: 214px;
  height: 52px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: left;
  color: #fff;
}
.navbar-nav-div1 {
  position: absolute;
  top: calc(50% - 26px);
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  cursor: pointer;
}
.collapse-navbar-collapse-div1 {
  position: absolute;
  top: 16px;
  left: calc(50% - 297px);
  width: 815px;
  height: 58px;
  overflow: hidden;
}
.india-span1 {
  text-decoration: none;
  color: green;
}
.farm-india-b2 {
  position: absolute;
  top: calc(50% - 26.5px);
  left: calc(50% - 661px);
  font-size: 51px;
  letter-spacing: 0.2px;
  line-height: 50px;
  display: inline-block;
  text-align: left;
  width: 348px;
  height: 46px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
}
.container-div4,
.navbar-style-2-navbar-light-div1 {
  position: absolute;
  top: 0;
  left: calc(50% - 635px);
  width: 1322px;
  height: 91px;
  overflow: hidden;
}
.container-div4 {
  top: 13px;
  left: calc(50% - 665px);
  text-align: right;
  color: #2f9000;
}
.row-div2 {
  z-index: 0;
}
.blank-line-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.wheat-is-mainly {
  margin: 0;
}
.paragraph-div1 {
  position: absolute;
  margin: 0 !important;
  top: 60px;
  left: 114px;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: inline-block;
  width: 924px;
  z-index: 0;
}
.main-content-div2 {
  width: 1044px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.image-11-icon,
.row-div3 {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.row-div3 {
  top: 831px;
  left: calc(50% - 697px);
  width: 1044px;
  height: 165px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.image-11-icon {
  top: calc(50% - 477.5px);
  left: calc(50% - 500px);
  border-radius: 50px;
  width: 840px;
  height: 677px;
  object-fit: cover;
  z-index: 0;
}
.h2-section-title-4-b {
  position: absolute;
  margin: 0 !important;
  top: 665px;
  left: 142px;
  letter-spacing: 0.2px;
  line-height: 50px;
  display: inline-block;
  width: 277px;
  z-index: 1;
}
.col-md-4-div,
.container-div5 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.col-md-4-div {
  margin: 0 !important;
  top: 176px;
  left: calc(50% - 383px);
  width: 740px;
  height: 813px;
  flex-shrink: 0;
  z-index: 2;
  font-size: 51px;
  color: #000;
}
.container-div5 {
  top: -73px;
  left: calc(50% - 688.5px);
  width: 1558px;
  height: 1045px;
  overflow: hidden;
  padding: 75px 0 160px;
  box-sizing: border-box;
  gap: 80px;
}
.h2-section-title-4-b1 {
  position: absolute;
  top: 997px;
  left: 470px;
  font-size: 30px;
  letter-spacing: 0.1px;
  line-height: 32px;
  display: inline-block;
  color: #000;
  width: 488px;
}
.main-content-div3 {
  position: absolute;
  top: 1122px;
  left: calc(50% - 311.5px);
  width: 691px;
  overflow: hidden;
}
.h6-b {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
  color: green;
  border: none;
  
}

.button h6-b{
  color: green;
  text-decoration: none;
}
.icn-arrow-right-icn-xs2 {
  position: relative;
  width: 9.14px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.button-sm-div {
  position: absolute;
  top: 1849px;
  left: 652px;
  border-radius: 37px;
  border: 1px solid #2f9000;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  color: #2f9000;
}
.h3-section-title-b,
.paragraph-div2 {
  position: absolute;
  letter-spacing: 0.2px;
  display: inline-block;
}
.h3-section-title-b {
  top: 1683px;
  left: 382px;
  font-size: 51px;
  line-height: 50px;
  color: #000;
}
.paragraph-div2 {
  top: 1763px;
  left: 437px;
  line-height: 20px;
  width: 629px;
}
.icbaseline-mood-bad-div1 {
  position: absolute;
  top: 639px;
  left: 1291px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.row-div4 {
  position: absolute;
  top: 1017px;
  left: calc(50% - 516.5px);
  width: 1114px;
  overflow: hidden;
}
.paragraph-div3 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: inline-block;
  width: 1105px;
}
.main-content-div4 {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 566.5px);
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 37px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.h2-section-title-4-b2 {
  position: absolute;
  top: 1193px;
  left: 470px;
  font-size: 30px;
  letter-spacing: 0.1px;
  line-height: 32px;
  display: inline-block;
  color: #000;
  width: 488px;
}
.main-content-div5 {
  position: absolute;
  top: calc(50% - -170.5px);
  left: calc(50% - 564.5px);
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 37px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.h2-section-title-4-b3 {
  position: absolute;
  top: 1403px;
  left: 462px;
  font-size: 30px;
  letter-spacing: 0.1px;
  line-height: 32px;
  display: inline-block;
  color: #000;
  width: 488px;
}
.main-content-div6 {
  position: absolute;
  top: calc(50% - -380.5px);
  left: calc(50% - 564.5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 37px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.layout-1-div1 {
  position: absolute;
  top: 409px;
  left: 1px;
  background-color: #f5f5f5;
  width: 1439px;
  height: 2147px;
  overflow: hidden;
  color: #737373;
}
.h3-b4,
.paragraph-div6 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 32px;
  display: inline-block;
}
.paragraph-div6 {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #737373;
}
.facebook-icon1,
.twitter-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.twitter-icon1 {
  height: 19.76px;
}
.social-media-div1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.col-md-3-div4 {
  width: 238px;
  flex-shrink: 0;
  overflow: hidden;
  gap: 25px;
}
.col-md-3-div4,
.col-md-3-div5,
.div3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div3 {
  gap: 10px;
  font-size: 14px;
  color: #737373;
}
.col-md-3-div5 {
  width: 241px;
  flex-shrink: 0;
  overflow: hidden;
  gap: 20px;
}
.col-md-3-div6 {
  width: 240px;
  flex-shrink: 0;
}
.col-md-3-div6,
.col-md-3-div7 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.background-div1,
.row-div5 {
  position: absolute;
  overflow: hidden;
}
.row-div5 {
  top: 2606px;
  left: calc(50% - 468px);
  width: 1046px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  text-align: left;
  font-size: 30px;
  color: #000;
}
.background-div1 {
  height: calc(100% - 432px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 432px;
  left: 0;
}
.rectangle-icon5 {
  position: absolute;
  top: 1984px;
  left: 18px;
  width: 1405px;
  height: 455px;
  opacity: 0.5;
  mix-blend-mode: multiply;
}
.header-1-div1,
.know-your-crop1 {
  position: relative;
  overflow: hidden;
}
.header-1-div1 {
  background-color: #fafafa;
  width: 1440px;
  height: 3243px;
  flex-shrink: 0;
}
.know-your-crop1 {
  background-color: #fff;
  width: 100%;
  height: 2886px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 14px;
  color: #216800;
  font-family: Montserrat;
}
